In [1]:
# Create and convert to string
from datetimerange import DateTimeRange

DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")

2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900

In [2]:
# Compare time range
from datetimerange import DateTimeRange

lhs = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
rhs = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print("lhs == rhs: ", lhs == rhs)
print("lhs != rhs: ", lhs != rhs)

lhs == rhs:  True
lhs != rhs:  False

In [3]:
# Move the time range
import datetime
from datetimerange import DateTimeRange

value = DateTimeRange("2015-03-22T10:10:00+0900", "2015-03-22T10:20:00+0900")
print(value + datetime.timedelta(seconds=10 * 60))
print(value - datetime.timedelta(seconds=10 * 60))

2015-03-22T10:20:00+0900 - 2015-03-22T10:30:00+0900
2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900

In [4]:
# Change string conversion format
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.start_time_format = "%Y/%m/%d"
time_range.end_time_format = "%Y/%m/%dT%H:%M:%S%z"
time_range

2015/03/22 - 2015/03/22T10:10:00+0900

In [5]:
# Add elapsed time when conversion to string
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.is_output_elapse = True
time_range

2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900 (0:10:00)

In [6]:
# Change separator of the converted string
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.separator = " to "
time_range

2015-03-22T10:00:00+0900 to 2015-03-22T10:10:00+0900

In [7]:
# Get start time as datetime.datetime
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.start_datetime

datetime.datetime(2015, 3, 22, 10, 0, tzinfo=tzoffset(None, 32400))

In [8]:
# Get start time as string (formatted with `start_time_format`)
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print(time_range.get_start_time_str())
time_range.start_time_format = "%Y/%m/%d %H:%M:%S"
print(time_range.get_start_time_str())

2015-03-22T10:00:00+0900
2015/03/22 10:00:00

In [9]:
# Get end time as datetime.datetime
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.end_datetime

datetime.datetime(2015, 3, 22, 10, 10, tzinfo=tzoffset(None, 32400))

In [10]:
# Get end time as string (formatted with `end_time_format`)
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print(time_range.get_end_time_str())
time_range.end_time_format = "%Y/%m/%d %H:%M:%S"
print(time_range.get_end_time_str())

2015-03-22T10:10:00+0900
2015/03/22 10:10:00

In [11]:
# Get datetime.timedelta (from start_datetime to the end_datetime)
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.timedelta

datetime.timedelta(seconds=600)

In [12]:
# Get timedelta as seconds (from start_datetime to the end_datetime)
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.get_timedelta_second()

600.0

In [13]:
# Get iterator
import datetime
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-01-01T00:00:00+0900", "2015-01-04T00:00:00+0900")
for value in time_range.range(datetime.timedelta(days=1)):
    print(value)

2015-01-01 00:00:00+09:00
2015-01-02 00:00:00+09:00
2015-01-03 00:00:00+09:00
2015-01-04 00:00:00+09:00

In [14]:
# Get iterator
from datetimerange import DateTimeRange
from dateutil.relativedelta import relativedelta

time_range = DateTimeRange("2015-01-01T00:00:00+0900", "2016-01-01T00:00:00+0900")
for value in time_range.range(relativedelta(months=+4)):
    print(value)

2015-01-01 00:00:00+09:00
2015-05-01 00:00:00+09:00
2015-09-01 00:00:00+09:00
2016-01-01 00:00:00+09:00

In [15]:
# Set start time
from datetimerange import DateTimeRange

time_range = DateTimeRange()
print(time_range)
time_range.set_start_datetime("2015-03-22T10:00:00+0900")
print(time_range)

NaT - NaT
2015-03-22T10:00:00+0900 - NaT

In [16]:
# Set end time
from datetimerange import DateTimeRange

time_range = DateTimeRange()
print(time_range)
time_range.set_end_datetime("2015-03-22T10:10:00+0900")
print(time_range)

NaT - NaT
NaT - 2015-03-22T10:10:00+0900

In [17]:
# Set time range (set both start and end time)
from datetimerange import DateTimeRange

time_range = DateTimeRange()
print(time_range)
time_range.set_time_range("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print(time_range)

NaT - NaT
2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900

In [18]:
# Test whether the time range is set
from datetimerange import DateTimeRange

time_range = DateTimeRange()
print(time_range.is_set())
time_range.set_time_range("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print(time_range.is_set())

False
True

In [19]:
# Validate time inversion
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:10:00+0900", "2015-03-22T10:00:00+0900")
try:
    time_range.validate_time_inversion()
except ValueError:
    print("time inversion")

time inversion

In [20]:
# Test whether the time range is valid
from datetimerange import DateTimeRange

time_range = DateTimeRange()
print(time_range.is_valid_timerange())
time_range.set_time_range("2015-03-22T10:20:00+0900", "2015-03-22T10:10:00+0900")
print(time_range.is_valid_timerange())
time_range.set_time_range("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print(time_range.is_valid_timerange())

False
False
True

In [21]:
# Test whether a value within the time range
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
print("2015-03-22T10:05:00+0900" in time_range)
print("2015-03-22T10:15:00+0900" in time_range)

time_range_smaller = DateTimeRange("2015-03-22T10:03:00+0900", "2015-03-22T10:07:00+0900")
print(time_range_smaller in time_range)

True
False
True

In [22]:
# Test whether a value intersect the time range
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
x = DateTimeRange("2015-03-22T10:05:00+0900", "2015-03-22T10:15:00+0900")
time_range.is_intersection(x)

True

In [23]:
# Make an intersected time range
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
x = DateTimeRange("2015-03-22T10:05:00+0900", "2015-03-22T10:15:00+0900")
time_range.intersection(x)
time_range

2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900

In [24]:
# Make an encompassed time range
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
x = DateTimeRange("2015-03-22T10:05:00+0900", "2015-03-22T10:15:00+0900")
time_range.encompass(x)
time_range

2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900

In [25]:
# Truncate time range
from datetimerange import DateTimeRange

time_range = DateTimeRange("2015-03-22T10:00:00+0900", "2015-03-22T10:10:00+0900")
time_range.is_output_elapse = True
print("before truncate: ", time_range)
time_range.truncate(10)
print("after truncate:  ", time_range)

before truncate:  2015-03-22T10:00:00+0900 - 2015-03-22T10:10:00+0900 (0:10:00)
after truncate:   2015-03-22T10:00:30+0900 - 2015-03-22T10:09:30+0900 (0:09:00)